---
import { Programs } from "@repo/program-data";
import TableLayout from "../../components/layouts/table-layout.astro";
import { ProgramsDataTable } from "../../data/programs";

const p = Programs.instance;
// const locations = programs.locations;
const programs = Programs.instance;
export function getStaticPaths() {
  const programs = Programs.instance;

  const services = programs.getCurriculumDisplay();
  return services.map((l) => {
    return {
      params: { service: l.slug },
    };
  });
}

const { service: serviceSlug } = Astro.params;

const services = programs.getCurriculumDisplay();
const service = services.find((s) => s.slug === serviceSlug);

const program = p.filterByService(serviceSlug);
---

<TableLayout description={service?.description} title={service?.label || ""}>
  <!-- <header class="container mx-auto px-4 py-16">
    <div class="text-center flex flex-col justify-center items-center">
      <Heading className="mb-4 max-w-screen-md" colorVariant="cool"
        >{service?.label}</Heading
      >
      <Text variant="lead">{service?.description}</Text>
    </div>
    <Separator />
  </header> -->

  <ProgramsDataTable client:load programs={program.programs} />
</TableLayout>
